@import '../../assets/_colours.scss';

:host {
  display: flex;

  box-shadow: 0px 0px 38px -5px rgba(0, 0, 0, 0.55);

  width: 100%;
  height: 4rem;
  z-index: 2;
  nav {


   width: 100%;
    height: 100%;
    background-color: $primary-green;
  //  background-image: url("../../assets/img/taustapilvi.svg");
  //  background-repeat: no-repeat;
  //  background-size: 200% 200%;
 //   background-position-x: -12rem;
 //   background-position-y: -1.5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    transition-duration: 0.5s;

    img {
      height: 2.5rem;
      width: 3rem;
      margin-right: -0.6rem;
      margin-bottom: -0.3rem;
    }
    h3 {
      //  background-color: $light-grey;

      filter: alpha(opacity=60);
      color: #046738;
      padding-right: 1rem;
      padding-bottom: 0.3rem;
      font-size: 250%;
      font-family: 'Lobster', cursive;
    //  text-shadow: -1px 0 $dark-grey, 0 1px $dark-grey, 1px 0 $dark-grey, 0 -1px $dark-grey;
    }
  }
}