@import "../../../assets/colours";

:host {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;
  width: 100%;

  %buttons {
    color: $light-grey;
    border-radius: 3px;
    margin-bottom: 0;
    height: 3rem;
    width: 3rem;
    font-size: 110%;
    outline: 0;
  }

  .topButtons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    #close {
      font-size: 200%;
      font-weight: bold;
    }
    p {
      padding: 0;
      margin: 0;

    }
  }

  .bottomButtons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: auto;
  }

  .challenge {
    width: 100%;
    height: 4rem;
  }

  #acceptChallenge {
    @extend %buttons;
    background-color: $primary-green;

  }

  #newChallenge {
    @extend %buttons;
    background-color: $dark-grey;
  }

}