<a class="back" (click)="navigateTopContent()"><i class="fas fa-arrow-left"></i></a>
<div class="container">
    <div class="box">
        <h4>Mottoni:</h4>
        <h2>'Se lepää.'</h2>
    </div>
    <div class="box">
        <h4>Tavoitteeni:</h4>
        <p>Haluan tulla paremmaksi sosiaalisissa tilanteissa:)</p>
    </div>
    <div id="linkit" class="box">
      <h4>Hyödyllisiä linkkejä:</h4>
      <ul>
          <li>
              <a href="http://masennusinfo.fi/ahdistuneisuushairiot/sosiaalisten-tilanteiden-pelko">Sosiaalinen
                  jännitys</a>
          </li>
          <li>
              <a href="https://www.mielenterveysseura.fi/fi/mielenterveys/mielenterveyden-h%C3%A4iri%C3%B6t/sosiaalisten-tilanteiden-pelko-rajoittaa-el%C3%A4m%C3%A4%C3%A4">Sosiaalisten
                  tilanteiden pelko</a>
          </li>
          <li>
              <a href="http://www.uskallainnostua.fi/blogi/">Itsensä kehittäminen</a>
          </li>
          <li>
              <a href="https://www.oivamieli.fi/dashboard.php">Oiva</a>
          </li>
          <li>
              <a href="https://hurinapaja.wordpress.com/muuta/hapea-ja-sen-kaverit/">Nolostuminen</a>
          </li>
      </ul>
  </div>

    <div id="edit" class="box">
    <i  class="fas fa-pencil-alt"></i>
    </div>
</div>