@import "../../assets/colours";
:host {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100%;
    width: 100%;
}
#close {
    font-size: 200%;
    font-weight: bold;
}


.topButtons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 120%;
    #close {
        font-size: 200%;
        font-weight: bold;
    }
    p {
        padding: 0;
        margin: 0 ;

    }
}

.bottomButtons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: auto;
}


.challenge {
    width: 100%;
    //height: 4rem;
    padding: 1rem;
    margin:  0;
    text-align: center;
    font-size: 120%;
}

#comment {
    color: $dark-grey;
    border-radius: 3px;
    margin-bottom: 0;
    height: 3rem;
    width: 100%;
    font-size: 120%;
    outline: 0;
    background-color: $mango;
}