<h1 id="userName">Masa Mallikas</h1>
<div id="topButtons">
    <div id="routeTree" [routerLink]="['/mangotree']" >
        <img src="../../../assets/img/mangopuu1.png">
    </div>
    <div id="moti">
        <i class="fas fa-question"></i>
    </div>
</div>

<div id="routerContainer">
    <div id="tabContainer">

            <a id="history" [routerLink]="['history']" ><i class="fas fa-list-ul"></i></a>

            <a id="settings" [routerLink]="['settings']" ><i class="fas fa-cog"></i></a>

    </div>
    <router-outlet></router-outlet>
</div>
