:host {
 display: flex;
    width: 100%;
  height: calc(100% - 3rem);

  //background-image: url('../../assets/img/bg.jpg');
  background-color: #cccccc;

  margin-top: 3rem;

  filter: blur(0px);
  z-index: -2;
  transition-duration: 0.5s;


}