@import "../../../assets/colours";
:host {
  display: flex;

  width: 100%;
  height: 100%;
 // background-image: url('../../../assets/img/puu2eitaustaa.gif');
 // background-size: 100% 100%;
//  background-repeat: no-repeat;
  margin-bottom: 3rem;
  overflow: hidden;
}

main {
  height: 100%;
  display: flex;
  white-space:nowrap;
  width: 100%;
  justify-content: center;

}
a {
  z-index: 9;

  top: 0;
  left: 0;
}

video {
  display: none;
  top:0;
  bottom: 0;
  transform: translateX(-3%);
  height: 85%;
  background-color: $primary-green;
  // background-image: url('../../../assets/img/puupaikallaan1_3.mp4');
  background-position: center center;
  background-size: contain;
}