:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;

  width: 100%;
  height: 100%;
  top: calc(-100% + 3em);

  background-color: #35dd1a;
  z-index: 2;
  box-shadow: 0px 0px 42px -5px rgba(0,0,0,0.75);

  transition-duration: 0.5s;



  .nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;



    margin: 2em;

    background-color: #cc4b37;


    .tabs {

      padding: 1em;
      background-color: #f1a891;
    }
    router-outlet {

    }
  }

  nav {
    display: flex;
    align-content: space-between;

    width: 100%;
    justify-content: center;
  }
}
